<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Plateforme academique informatisant le processus complet de gestion des mémoires: de la proposition des sujet à l'alignement pour la defense, le tout en passant par les depots successifs et corrections.">
		<meta name="keywords" content="Redaction, Mémoires , travail de fin de cycle, qualité ">
		<meta name="author" content="Marcus R. KIM">
    <!-- icone -->
		<link
		href="{{asset('images/faviconFeuxVert.png')}}" rel="icon">
		<title>WebTronBlue::Academia::FeuxVert|Connexion
		</title>

		<!-- Google Font: Source Sans Pro -->
		<link
		rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
		<!-- Font Awesome -->

		<link
		rel="stylesheet" href="{{asset('plugins/fontawesome-free/css/all.min.css') }}">
		<!-- overlayScrollbars -->
		<link
		rel="stylesheet" href="{{asset('plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
		<!-- Theme style -->
		<link rel="stylesheet" href="{{asset('dist/css/adminlte.min.css') }}">
	</head>
	<body class="hold-transition login-page dark-mode bg-info">
		<style></style>
		<div
			class="login-box">
			<!-- /.login-logo -->
			<div class="card card-outline card-primary">
				<div class="card-header text-center">
					<a href="" class="h2">
						<b class="text-success">FeuxVert</b>
						<i class="fa fa-graduation-cap fa-sm"></i>
						<span class="text-danger">Manager</span>
					</a>
				</div>
				<div class="card-body">
					<p class="login-box-msg">Démarrer votre session</p>
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							Vous êtes connecté en tant que
							{{ app.user.username }},
							<a href="{{ path('app_logout') }}">Déconnexion</a>
						</div>
					{% endif %}
					<form method="post">
						<div class="input-group mb-3">
							<input type="email" class="form-control" placeholder="Entrer votre adresse mail ici" value="{{ last_username }}" name="email" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-envelope"></span>
								</div>
							</div>
						</div>
						<div class="input-group mb-3">
							<input type="password" class="form-control" placeholder="Mot de passe" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-lock"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-8">
								<div class="icheck-primary">
									<input type="checkbox" id="remember" name="_remember_me">
									<label for="remember">
										Se souvenir de moi.
									</label>
								</div>
							</div>
							<!-- /.col -->
							<div class="col-4">
								<button type="submit" class="btn btn-primary btn-block">Sign in</button>
							</div>
							<!-- /.col -->
						</div>
					</form>
					<!-- social-auth-links -->
					{# <div class="social-auth-links text-center mt-2 mb-3">
					        <a href="#" class="btn btn-block btn-primary">
					          <i class="fab fa-facebook mr-2"></i> Connexion via Facebook
					        </a>
					        <a href="#" class="btn btn-block btn-danger">
					          <i class="fab fa-google-plus mr-2"></i> Connexion via Google+
					        </a>
					      </div> #}
					<p class="mb-1">
						<a href="{{url('app_forgot_password_request')}}">J'ai oublié mon mot de passe</a>
					</p>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
		<!-- /.login-box -->

		<!-- REQUIRED SCRIPTS -->
		<!-- jQuery --><script src="{{asset('plugins/jquery/jquery.min.js')}}"> </script>
		<!-- Bootstrap -->
		<script src="{{asset('plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
		<!-- overlayScrollbars -->
		<script src="{{asset('plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')}}"></script>
		<!-- AdminLTE App -->
		<script src="{{asset('dist/js/adminlte.js')}}"></script>
	</body>
</html>
