{% extends 'base.html.twig' %}

{% block title %}Promotion index
{% endblock %}
{% block lesboutons %}
	<a title="Retour à la liste " class="btn btn-info">
		<i class="fa fa-reply-all"></i>
	</a>
	<a title="Ajouter nouveau " href="{{ path('promotion_new') }}" class="btn btn-info">
		<i class="fas fa-plus-circle"></i>
	</a>
{% endblock %}
{% block titre %}
	Liste des prommotions
	{{entreprise.anneeAcademiqueCourante}}
{% endblock %}
{% block positionnement %}
	<span class="fa fa-angle-double-right"></span>
	Config.
	<span class="fa fa-angle-double-right"></span>
	Promotion
{% endblock %}
{% block body %}
	<table id="example1" class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Désignation</th>
				<th>Département
				</th>
				<th>actions</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>#</th>
				<th>Désignation</th>
				<th>Département
				</th>
				<th>actions</th>
			</tr>
		</tfoot>
		<tbody>
			{% for promotion in promotions %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ promotion.designation}}</td>
					<td>{{ promotion.departement }}</td>
					<td>
					<div class="btn-group">
						<a class="btn btn-default btn-sm " href="{{ path('promotion_show', {'id': promotion.id}) }}">
							<span class="fa fa-search-plus"></span>
						</a>
						<a   class="btn btn-default btn-sm " href="{{ path('promotion_edit', {'id': promotion.id}) }}">
							<span class="fa fa-edit"></span>
						</a>
						</div>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4"class="text-warning">aucun élément trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
