{% extends 'base.html.twig' %}

{% block title %} BroadCasting messages 
{% endblock %}
{% block lesboutons %}
	
{% endblock %}
{% block titre %}
	BroadCasting
{% endblock %}

{% block positionnement %}
	<span class="fa fa-angle-double-right"></span>
	Messages
	<span class="fa fa-angle-double-right"></span>
	Inbox 
{% endblock %}
{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<div class="row">
		<div class="col-md-9">
			<div class="card card-primary card-outline">
				<div class="card-header">
					<h3 class="card-title">Boite de reception</h3>

					<div class="card-tools">
						{# <div class="input-group input-group-sm">
							<input type="text" class="form-control" placeholder="Search Mail">
							<div class="input-group-append">
								<div class="btn btn-primary">
									<i class="fas fa-search"></i>
								</div>
							</div>
						</div> #}
					</div>
					<!-- /.card-tools -->
				</div>
				<!-- /.card-header -->
				<div class="card-body p-0">
					
					<div class="table-responsive mailbox-messages">
						<table id="example1" class="table table-hover table-striped">
							<tbody>
								{% for message in messages %}
									<tr>
										<td>
											{{loop.index}}
										</td>
										<td class="mailbox-star">
											<a href="#">
                        {% if message.isNonLu %}
												<i class="fas fa-star text-warning"></i>
                        {% endif %}
											</a>
										</td>
										<td class="mailbox-name">
											<a href="read-mail.html">{{message.broadcastMessage.expediteur}}</a>
										</td>
										<td class="mailbox-subject">
											<b>{{message.broadcastMessage.titre}}</b>
											-
											{{message.broadcastMessage.contenu|raw}}
										</td>
										<td class="mailbox-date">5 mins ago</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<!-- /.table -->
					</div>
					<!-- /.mail-box-messages -->
				</div>
				<!-- /.card-body -->
				<div class="card-footer p-0">
					<div
						class="mailbox-controls">
						<!-- Check all button -->
						<button type="button" class="btn btn-default btn-sm checkbox-toggle">
							<i class="far fa-square"></i>
						</button>
						<div class="btn-group">
							<button type="button" class="btn btn-default btn-sm">
								<i class="far fa-trash-alt"></i>
							</button>
							<button type="button" class="btn btn-default btn-sm">
								<i class="fas fa-reply"></i>
							</button>
							<button type="button" class="btn btn-default btn-sm">
								<i class="fas fa-share"></i>
							</button>
						</div>
						<!-- /.btn-group -->
						<button type="button" class="btn btn-default btn-sm">
							<i class="fas fa-sync-alt"></i>
						</button>
						<div class="float-right">
							1-50/200
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-sm">
									<i class="fas fa-chevron-left"></i>
								</button>
								<button type="button" class="btn btn-default btn-sm">
									<i class="fas fa-chevron-right"></i>
								</button>
							</div>
							<!-- /.btn-group -->
						</div>
						<!-- /.float-right -->
					</div>
				</div>
			</div>
			<!-- /.card -->
		</div>
		<!-- /.col -->

		<div class="col-md-3">
			<a href="compose.html" class="btn btn-primary btn-block mb-3">Compose</a>

			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Critères de tris
					</h3>

					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-minus"></i>
						</button>
					</div>
				</div>
				<div class="card-body p-0">
					<ul class="nav nav-pills flex-column">
						<li class="nav-item">
							<a href="{{url('message_non_lu_index')}}" class="nav-link">
								<i class="far fa-circle text-danger"></i>
								Nons lu
							</a>
						</li>
						<li class="nav-item">
							<a href="{{url('message_index')}}" class="nav-link">
								<i class="far fa-circle text-warning"></i>
								Tous les messages
							</a>
						</li>
						<li class="nav-item">
							<a href="{{url('message_lu_index')}}" class="nav-link">
								<i class="far fa-circle text-primary"></i>
								Lus
							</a>
						</li>
					</ul>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
{% endblock %}
