<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Fiche proposition | Academia::feux vert</title>

		<!-- Google Font: Source Sans Pro -->
		<link
		rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="{{asset('plugins/fontawesome-free/css/all.min.css')}}">
		<!-- Theme style -->
		<!-- Theme style -->
	<link rel="stylesheet" href="{{asset('dist/css/adminlte.min.css')}}"> </head>
	<body>
		<div
			class="wrapper">
			<!-- Main content -->
			<section class="invoice">
				<div class="row">
					<div class="col-12">
						<span class="text-center">
							<h3>{{entreprise.pays}}</h3>
							<h2>Enseignement supérieur et universitaire
							</h2>
							<h1>{{entreprise.nom}}</h1>
							<h2>Faculté
								{{app.user.faculte|title}}
							</h2>
							<h2>BP:
								{{entreprise.boitePostale}}
							</h2>
							<h2>
								<u>{{entreprise.ville}}
								</u>
							</h2>
							<hr>
							<h3>Fiche d'etat d'avancement N<sup>o</sup>
								{{fiche.id}}/
								{{entreprise.anneeAcademiqueCourante}}
							</h3>

						</span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-6">
						Etudiant
						<address>
							<strong>{{fiche.finaliste}}</strong><br>
							Phone: (243){{fiche.finaliste.identite.telephone}}<br>
							{% if fiche.finaliste.user %}
							Email:{{fiche.finaliste.user.email}}
							{% endif %}
							<br>
							Promotion:{{fiche.finaliste.promotion}}
							<br>
						</address>
					</div>
					<div class="col-sm-6 col-6 float-right ">
						Directeur
						<address>
							<strong>{{fiche.directeurRetenu}}</strong><br>
							Phone: (243){{fiche.directeurRetenu.identite.telephone}}<br>
							Email:{{fiche.directeurRetenu.user.email}}
						</address>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						Sujet :{{fiche.sujetRetenu}}
						<div>
							<div class="col-12">
								<table class="table table-striped table-hover">
									<thead>
										<tr>
											<th>
												Jour dépot
											</th>
											<th>
												Observation directeur
											</th>
										</tr>
									</thead>
									<tbody>
										{% for depot in fiche.depots %}
											<tr>
												<td no-wrapped>
													{{depot.date|date('d-M-Y')}}
												</td>
												<td>
													{{depot.NoteDirecteur}}
												</td>
											</tr>
										{% endfor  %}
									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
				<div class="row">
				
				<h4 class="ml-4">Fin de la redaction</h4>
				<p>
				Feux vert du Directeur : L'étudiant est autorisé à imprimer, policopier, rélier et déposer son travail.
				</p>
				<p>
				<br>
				<span class="text-center">Fait à {{entreprise.ville}}, le {{fiche.date|date('d/M/Y')}}</span>
				<b>{{fiche.directeurRetenu}}</b>
				</p>
				</div>
			</section>
		</div>
		<script>
			window.addEventListener("load", window.print());
		</script>
	</body>
</html></body></html>
